body { background-color: #efefef; }

#end-instr {
  display: table;
  margin: auto;
  margin-top: 48vh;
  font-size: 20pt;
  padding: 0 5vw;
}

.customized-footer {
  text-align: right;
  border-radius: 0px 0px 8px 8px;
}

#survey-container {
  background-color: #fcfcfc;
  position: absolute;
  width: 80vw;
  top: 3vh;
  left: 10vw;
  margin-bottom: 3vh;
  border-radius: 8px;
  border: 1px solid #eee;
}

#process-modal {
  color: white;
  width: 100%;
  text-align: center;
  top: 49%;
}

.modal-backdrop.show {
   opacity: 0.8;
}

.blue {
  color: blue;
}
